{%extends "auctions/layout.html"%}

{%block body%}
{%if message%}
{{message}}
{%endif%}
<form action="{%url 'verify' %}" method="post">
    {%csrf_token%}
    <input type="hidden" name="username" value="{{username}}">
    <input type="hidden" name="email" value="{{email}}">
    <input type="hidden" name="password" value="{{password}}">
    <label for="enter_otp">Enter OTP</label>
    <div class="form-group">
        <input class="form-control" autofocus type="number" name="otp_field" placeholder="Enter OTP">
    </div>
    <input class="btn btn-primary" type="submit">
</form>

{%endblock%}